# Byte-compiled / optimized / DLL files
__pycache__
*.pyc
*.pyo
*.pyd
*.so

# C extensions
*.c
*.cpp
*.cxx
*.h
*.hpp
*.hxx

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
.installed.cfg
*.egg-info/
.eggs/
PKG-INFO

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml

# IDE files
.idea/
*.iml
*.suo
*.VC.db
*.DS_Store

# Other IDE files
.vscode/

# Local configuration files
.env
*.log

# output files
*.csv
*.png
*.gif
pylogo/pylogo/utils.py
